body {
  background-color:#fff;
  padding: 2em;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: white;
  position: absolute;
  background-image:  url('dapp/flight.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  display: inline-block;
  
}
.container {
  width: 60%;
  margin: 0 auto;
position: center;
background-color:#000000;
}


.bold { 
  font-weight: bolder;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}

input[type="radio"] {
    width: 5%;
	color: yellow;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #2272d3;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.sell { 
  background-color: white;
  color: #D1C4E9;
}

.ftc-intro {
  background-color:#0097A7;
  color:white;
  width:100%;
  padding:20px;
}

.form-group {
  color:white;
  width:50%;
  padding:30px;
  border-radius: 4px;
  background-color:#000000;
  margin: 0 auto;
}

	
.horizontal-rule {
  background-color:#BDBDBD;
}
#myDiv {
  position: relative;
  background-color: #C0DBF0;
  width: 400px;
  padding: 20px;
}

.loading-overlay {
  display: none;
text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.6;
}

.spin-loader {
  height: 100px;
  background: url("http://i62.tinypic.com/2hzsro.gif") no-repeat center center transparent;
  position: relative;
  top: 25%;
}

#button {
  width: 120px;
  text-transform: uppercase;
}
